<h1>Restaurants#index</h1>

<br>
<%= link_to 'Add restaurant', new_restaurant_path, class:"btn btn-primary" %>
<br><br>

<% @restaurants.each do |resto| %>
<div>
    <p><%= link_to resto.name, restaurant_path(resto) %></p>
    <p><%= resto.address  %></p>
    <p><%= resto.category  %></p>
    <p><%= resto.phone_number  %></p>
</div>

<br>
<% end %>




