
<h2>Add a new resto</h2>

<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :category %>
  <%= select_tag('restaurant[category]', options_for_select(
  [["chinese", 0], ["italian", 1], ["japanese", 2], ["french", 3], ["belgian", 4]]
  ))%>

  <%= f.submit %>
<% end %>

<br>

<%= link_to 'Back to results', restaurants_path %>

<br>
<br>
<br>

<p>To be refactored</p>
<%= @categories.each_with_index.map { |cat,idx| [cat, idx] } %>
<p>refactor const CATEGORIES controller </p>


